body {
  margin: 0;
  font-family: Arial, sans-serif; 
}

.scene-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.scene {
  width: 200px;   
  height: 200px;
  border: 1px solid #ccc;
  background: linear-gradient(to bottom, #87ceeb, #fff176);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  display: flex;    
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.car-container {
  transform: translateX(5%); 
  justify-content: flex-start;
  padding-top: 10%;
}

.car-base {
  position: relative;     
  width: 87%;             
  display: flex;
  justify-content: center;
  align-items: flex-end;   
}

.car {
  width: 100%;
  height: auto;
  display: block;
}

.wheels {
  position: absolute;
  bottom: 5%;        
  transform: translateX(5%);
  display: flex;
  justify-content: space-between;
  width: 73%;
}

.wheel {
  width: 34%;             
  height: auto;
  position: relative;
  bottom: 15%
}

.squirrel {
  position: absolute;
  top: 25%;                 
  right: 11%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.squirrel-head {
  width: 21%;
  opacity: 0;
}

.squirrel-full {
  width: 27%;
  position: absolute;
  opacity: 0;
}

.label {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}

/*Наведение*/
.car-container:hover .car {
  animation: shake 0.4s infinite;
}
.car-container:hover .squirrel-head {
  opacity: 1;
}
.car-container:hover .label {
  opacity: 1;
}
.car-container:hover .label::after {
  content: "Новое путешествие!";
}

.wheels:has(.wheel:hover) .wheel {
  animation: spin 1s linear infinite;
}

/*Нажатие*/
.car-container:active .car {
  content: url("../images/car_turned.png"); 
  animation: none;
  width: 115%;
  transform: translateX(-10%);
  animation: bounce 0.4s infinite;
}
.car-container:active .squirrel-head {
  opacity: 0;
}
.car-container:active .squirrel-full {
  opacity: 1;
  animation: runaway 2.5s forwards;
}
.car-container:active .label {
  opacity: 1;
}
.car-container:active .label::after {
  content: "Приехали)";
  display: inline-block; 
  transform: translate(100%, 400%);
}
.car-container:active .wheels {
  opacity: 0;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-1%); }
  50% { transform: translateX(1%); }
  75% { transform: translateX(-1%); }
  100% { transform: translateX(0); }
}

@keyframes spin {
  from { transform: rotate(0); }
  to { transform: rotate(-360deg); }
}

@keyframes runaway {
  0% {
    opacity: 1;
    transform: translateX(100%) translateY(90%);
  }
  16% {
    transform: translateX(50%) translateY(80%);
  }
  33% {
    transform: translateX(-0%) translateY(90%);
  }
  50% {
    transform: translateX(-50%) translateY(80%);
  }
  66% {
    transform: translateX(-100%) translateY(90%);
  }
  88%{
    transform: translateX(-150%) translateY(80%);
  }
  100% {
    transform: translateX(-210%) translateY(90%);
  }
}

@keyframes bounce {
  0%, 100% { transform: translate(5%, 0); }
  50% { transform: translate(5%, -3%); }
}