body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; 
}

.site-header {
  background-color: #333;
  color: white;
  padding: 15px 0;
  text-align: center;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.content {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.site-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.pic {
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom right, #fffacd, #5b7cb9);
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.sun {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 50px;
  height: 50px;
  background: yellow;
  border-radius: 50%;
}

.bar {
  position: absolute;
  bottom: 0;
  width: 8px;
  height: 120px;
  background-color: gray;
}

.bar-1 { left: 0; }
.bar-2 { left: 64px; } 
.bar-3 { left: 128px; } 
.bar-4 { left: 192px; } 

.arch {
  position: absolute;
  bottom: 120px;
  width: 72px;
  height: 36px;
  background-color: transparent;
  border: 8px solid gray;
  border-bottom: 0;
  border-top-left-radius: 38px; 
  border-top-right-radius: 38px;
  box-sizing: border-box;
}

.arch-1 { left: 0px; }
.arch-2 { left: 64px; }
.arch-3 { left: 128px; }

.wave {
  position: absolute;
  bottom: -30px;
  left: -15px;
  width: 75px;
  height: 75px;
  background: linear-gradient(to bottom right, rgb(201, 223, 255),  rgb(97, 120, 223));
  border-radius: 50%;
}

.wave-1{left: -15px; bottom: -24px}
.wave-2{left: 40px; bottom: -20px}
.wave-3{left: 90px; bottom: -32px}
.wave-4{left: 135px; bottom: -20px}

.ship {
  position: absolute;  
  left: 0px;         
  bottom: 0px;    
  width: 200px;
  height: 200px;
}

.trap {
  position: absolute;
  left: 25px;
  bottom: 20px;
  width: 150px;
  height: 50px;
  clip-path: polygon(0 0%, 100% 0, 75% 100%, 25% 100%);
  background: repeating-linear-gradient(
    0deg, 
    rgb(113, 69, 27) 0,
    rgb(113, 69, 27) 5px,
    rgb(145, 92, 42) 5px, 
    rgb(145, 92, 42) 9px
  );
}

.mast {
  position: absolute;
  left: 85px;
  bottom: 69px;
  width: 5px;
  height: 100px;
  background-color: rgb(145, 92, 42);
}

.sail {
  position: absolute;
  left: 90px;
  bottom: 72px;
  width: 75px;
  height: 80px;
  background: linear-gradient(to right , red, white);
  clip-path: polygon(0 0%, 100% 75%, 0% 100%);
}

.window {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 55px;
  background-color: white;
  clip-path: polygon(
    20% 0%,
    80% 0%, 
    100% 20%, 
    100% 80%, 
    80% 100%, 
    20% 100%, 
    0% 80%, 
    0% 20% 
  )
}

.window-1 {left: 45px}
.window-2 {left: 65px}
.window-3 {left: 85px}
.window-4 {left: 105px}
.window-5 {left: 125px}
.window-6 {left: 145px}

.flag{
  position: absolute;
  left: 85px;
  bottom: 150px;
  width: 40px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  clip-path: polygon(
    0% 0%,
    30% 10%, 
    70% 10%, 
    100% 0%, 
    100% 80%, 
    70% 100%, 
    30% 100%, 
    0% 90% 
  )
}

.diaphis{
  position: absolute;
  left: 103px;
  bottom: 151px;
  width: 2px;
  height: 15px;
  background-color: white;
}

.diaphis-1{ transform: rotate(60deg)}
.diaphis-2{ transform: rotate(120deg)}

.epiphys{
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.epiphys-1{
  left: 108px;
  bottom:152px;
}
.epiphys-2{
  left: 108px;
  bottom:160px;
}
.epiphys-3{
  left: 95px;
  bottom:152px;
}
.epiphys-4{
  left: 95px;
  bottom:160px;
}